body {
  background-color:cornsilk;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  text-align: center;
}

#modalContainer {
  display: flex;
  justify-content: center;
}

.card {
background-color: whitesmoke;
border-style: groove;
height: 100%;
}

.card-body {
  height: 100%;
}

#cat {
  background-color: #900C3F;
}

#dog {
  background-color: #FFC300 ;
}

#dino {
  background-color: #FF5733;
}

#all {
  background-color: #C70039;
}
